h3{
    color: blue;
}
div{
    border: 20px 30px 20px;
    color: blueviolet;
    margin: 20px 20px 20px 20px  ;
    border-radius: 20px 10px;
}
b{
    background-color: chartreuse;
}
strong{
    background-color: chartreuse;
}
small{
    background-color: crimson;



}
button{
    background-color: darkmagenta;
}